.bg-img{
  background-image: url("https://www.hbo.com/content/dam/hbodata/series/game-of-thrones/episodes/1/game-of-thrones-1-1920x1080.jpg/_jcr_content/renditions/cq5dam.web.1200.675.jpeg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
  