<div class="row">
  <div class="col-md-12 text-center">
    <h3>Personajes</h3>
    <br/>
  </div>
  <div class=" col-md-10 offset-md-1" style="font-size: 13px;">
    <table class="table">
      <thead class="">
          <tr class="sticky-top thead-dark" style="top:3em;">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Culture</th>
          <th scope="col">Born</th>
          <th scope="col">Died</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="c in characterList">
          <th scope="col">{{($index+1)}}</th>
          <td scope="col">{{c.name?c.name:"-"}}</td>
          <td scope="col">{{c.gender?c.gender:"-"}}</td>
          <td scope="col">{{c.culture?c.culture:"-"}}</td>
          <td scope="col">{{c.born?c.born:"-"}}</td>
          <td scope="col">{{c.died?c.died:"-"}}</td>
          <td scope="col"ng-click="openModal(c)"><button type="button" class="btn btn-sm btn-outline-primary">Ver</button></td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary" ng-click="loadList(pages.next.page,pages.next.pageSize)">
      Cargar más
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{modalChar.name?modalChar.name:"-"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
            <tr>
              <th scope="col">Gender</th>
              <td scope="col">{{modalChar.gender?modalChar.gender:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">Culture</th>
              <td scope="col">{{modalChar.culture?modalChar.culture:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">Born</th>
              <td scope="col">{{modalChar.born?modalChar.born:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">Died</th>
              <td scope="col">{{modalChar.died?modalChar.died:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">Titles</th>
              <td scope="col"><div ng-repeat="ti in modalChar.titles">{{ti}}</div></td>
            </tr>
            <tr>
              <th scope="col">Aliases</th>
              <td scope="col"><div ng-repeat="ali in modalChar.aliases">{{ali}}</div></td>
            </tr>
            <tr>
              <th scope="col">Father</th>
              <td scope="col">{{modalChar.father?modalChar.father:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">Mother</th>
              <td scope="col">{{modalChar.mother?modalChar.mother:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">Spouse</th>
              <td scope="col">{{modalChar.spouse?modalChar.spouse:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">Allegiances</th>
              <td scope="col"><div ng-repeat="alle in modalChar.allegiances">{{alle}}</div></td>
            </tr>
            </tr>
        </table>
      </div>

    </div>
  </div>
</div>
</div>