<div class="row">
  <div class="col-md-12 text-center">
    <h3>Casas</h3>
    <br/>
  </div>
  <div class="col-md-10 offset-md-1  " style="font-size: 13px;">
    <table class="table">
      <thead class="">
        <tr class="sticky-top thead-dark" style="top:3em;">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Region</th>
          <th scope="col">Words</th>
          <th class="text-center" scope="col">Current Lord</th>
          <th class="text-center" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="house in houseList">
          <th scope="row">{{ $index+1 }}</th>
          <td>{{(house.name)?house.name:"-"}}</td>
          <td>{{(house.region)?house.region:"-"}}</td>
          <td>{{(house.words)?house.words:"-"}}</td>
          <td class="text-center" ng-if="!house.lord && house.currentLord.indexOf('http')==-1">-</td>
          <td class="text-center" ng-if="!house.lord && house.currentLord.indexOf('http')>-1">
            <button type="button" class="btn btn-sm btn-outline-primary" ng-click="getCharacter(house)">Ver</button>
          </td>
          <td class="text-center" ng-if="house.lord">{{house.lord}}</td>
          <td class="text-center">
            <button type="button" class="btn btn-sm btn-outline-primary" ng-click="openModal(house)">Ver Todo</button>

          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-md-12 text-center">
    <button type="button" style="margin-bottom:  200px;" class="btn btn-primary" ng-click="loadList(pages.next.page,pages.next.pageSize)">
      Cargar más
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{modalHouse.name?modalHouse.name:"-"}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <th scope="col">Region</th>
              <td scope="col">{{modalHouse.region?modalHouse.region:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">coatOfArms</th>
              <td scope="col">{{modalHouse.coatOfArms?modalHouse.coatOfArms:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">words</th>
              <td scope="col">{{modalHouse.words?modalHouse.words:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">Titles</th>
              <td scope="col">
                <div ng-repeat="ti in modalHouse.titles">{{ti}}</div>
              </td>
            </tr>
            <tr>
              <th scope="col">seats</th>
              <td scope="col">
                <div ng-repeat="ti in modalHouse.seats">{{ti}}</div>
              </td>
            </tr>
            <tr>
              <th scope="col">currentLord</th>
              <td scope="col">{{modalHouse.currentLord?modalHouse.currentLord:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">heir</th>
              <td scope="col">{{modalHouse.heir?modalHouse.heir:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">overlord</th>
              <td scope="col">{{modalHouse.overlord?modalHouse.overlord:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">founded</th>
              <td scope="col">{{modalHouse.founded?modalHouse.founded:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">founder</th>
              <td scope="col">{{modalHouse.founder?modalHouse.founder:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">diedOut</th>
              <td scope="col">{{modalHouse.diedOut?modalHouse.diedOut:"-"}}</td>
            </tr>
            <tr>
              <th scope="col">ancestralWeapons</th>
              <td scope="col">
                <div ng-repeat="ali in modalHouse.ancestralWeapons">{{ali}}</div>
              </td>
            </tr>
            <tr>
              <th scope="col">cadetBranches</th>
              <td scope="col">
                <div ng-repeat="ali in modalHouse.cadetBranches">{{ali}}</div>
              </td>
            </tr>
            <tr>
              <th scope="col">swornMembers</th>
              <td scope="col">
                <div ng-repeat="ali in modalHouse.swornMembers">{{ali}}</div>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>