<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
  <link href="./css/app.css" rel="stylesheet" />
  <script src="./js/app.js"></script>

</head>

<body ng-app="myApp" >
  <div class="container" ng-controller="indexController" style="margin-bottom: 100px;">
    <div class="jumbotron jumbotron-fluid bg-img" style="margin-bottom: 0px;">
      <div class="container">
        <h1 class="text-center" style="color:#FFF">Game Of Thrones</h1>
      </div>
    </div>
    <div class="btn-group btn-group-toggle sticky-top" ng-click="arriba();" style="width: 100%" data-toggle="buttons">
        <label class="btn btn-secondary active" style="width: 50%" ng-click="goTo('/houses')">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Casas
        </label>
        <label class="btn btn-secondary" style="width: 50%" ng-click="goTo('/characters')">
          <input type="radio" name="options" id="option2" autocomplete="off"> Personajes 
        </label>

      </div>

    <div style="margin-top:40px;margin-bottom: 100px;"></div>
    <ng-view></ng-view>
  </div>
  <div class="fixed-bottom" onclick="window.scrollTo(0,0)"><button type="button" class="btn btn-sm btn-primary">Arriba</button></div>
</body>

</html>